name: Publish Mobore iOS SDK to CocoaPods

on:
  workflow_dispatch:
  push:
    tags:
      - '*'
  release:
    types: [published]

jobs:
  publish:
    runs-on: macOS-latest
    timeout-minutes: 60
    env:
      COCOAPODS_TRUNK_TOKEN: ${{ secrets.COCOAPODS_TRUNK_TOKEN }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install CocoaPods
        run: gem install cocoapods
      - name: Push to CocoaPods trunk
        if: success()
        run: |
          pod trunk push MoboreIosSdk.podspec --allow-warnings --skip-tests --verbose


